@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: CareemSans;
    src: url(./assets/font/careem_bold.otf);
}

*,
*::after,
*::before {
    font-family: Montserrat, CareemSans, Sans, sans-serif;
}

.bg-shape {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: linear-gradient(204.49deg, #00e784 9.64%, #a6edf2 93.8%);
    -webkit-mask-image: url(./assets/clip.png);
    mask-image: url(./assets/clip.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}