@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: CareemSansBold;
    src: url(./assets/font/careem_sans_bold.otf);
}

@font-face {
    font-family: CareemSansSemiBold;
    src: url(./assets/font/careem_sans_semibold.otf);
}

body {
    font-family: Inter, CareemSans, Sans, sans-serif;
}

.font-careem-bold {
    font-family: CareemSansBold;
}

.font-careem-semibold {
    font-family: CareemSansSemiBold;
}

.bg-shape {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: linear-gradient(204.49deg, #00e784 9.64%, #a6edf2 93.8%);
    -webkit-mask-image: url(./assets/clip.png);
    mask-image: url(./assets/clip.png);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 100% 100%;
    /*Must Set Width and Height, otherwise height is set to auto*/
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

@media screen and (min-width: 720px) {
    .bg-shape {
        -webkit-mask-image: url(./assets/clip-large.png);
        mask-image: url(./assets/clip-large.png);
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}