@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: CareemSans;
    src: url(./assets/font/careem_bold.otf);
}

*,
*::after,
*::before {
    font-family: CareemSans, Sans, sans-serif;
}